@import "tailwindcss";



body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ant-layout-sider-children{
  background-color: white !important;
}


.ant-menu-title-content:hover{
    /* background-color: red !important; */
}


.ant-menu-item{
    color: rgb(160, 25, 25) !important;
}

.ant-menu-item:hover{
  color: rgb(255, 111, 111)!important;
  background-color: rgba(7, 228, 18, 0.5)!important;
}



.ant-layout-sider-trigger{
  background-color: rgb(75, 206, 36);
}

.ant-layout-sider-trigger{
  color: white;
  background-color: green !important;
}

.ant-menu-item-selected {
  background-color: red !important;
  color: white !important;
}


/* button css  */

.ant-btn{
  background-color: rgb(75, 206, 36);
  color: white;
  padding: 20px;
  font-size: 20px;
  border: none;
  outline: none !important;
}

.ant-btn:hover{
  background-color: rgb(75, 206, 36)!important;
  color: white !important;
  border: none;
}


.ant-btn-variant-dashed:hover{
  background-color: transparent;
  border: none;
  outline: none;
  top: 0;
}

.ant-btn-variant-link{
  background-color: red;
}

.ant-btn-variant-link:hover{
  background-color: red !important ;
  color: black !important ;
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  border: none;
}